<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->


    <meta charset='utf-8'>
    <title>
        {%  block title %} {% endblock %}
    </title>
</head>
<body>

<div class='class-fluid'>

     {% include 'header.html' %}

<div class='row'>
     <div class='col-md-4'>

       <div class='panel panel-default'>
         <div class='panel-heading'>
	    <h3> MENU </h3>
         </div>

         <div class='panel-body'>
	   <div class='list-group'>
		<a href='/' class='list-group-item'>HOME</a>
		<a href='/'  class='list-group-item'>管理页面</a>
		<a href='/'  class='list-group-item'>时事新闻</a>
		<a href='/'  class='list-group-item'>电视新闻</a>
	   </div>
         </div>
        </div>
     </div>


     <div class='col-md-8 '>
        <div class='panel panel-default'>
   
           <div class='panel-heading'>
              {% block headmessage %} {% endblock %}
           </div>
   
           <div class='panel-body'>
           {% block content %} {% endblock %}
           </div>


           <div class='panel-footer'>
	     {% include 'footer.html' %}
	   </div>
        </div>
     </div>
</div>
</div>

</body>
</html>
